pub fn day_1() -> () {}
pub fn day_2() -> () {}

#[cfg(test)]
mod tests {
    use super::*;

    #[ignore]
    #[test]
    fn part1() {
        unimplemented!()
    }

    #[ignore]
    #[test]
    fn part2() {
        unimplemented!()
    }
}
